name: Build Connect Base Image

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "connect-base/**"
  push:
    branches:
      - main
    paths:
      - "connect-base/**"

jobs:
  pr-build:
    if: github.event_name == 'pull_request'
    uses: ZeroGachis/.github/.github/workflows/build-image.yml@v5
    permissions:
      contents: read
      security-events: write
      actions: read
      id-token: write
      packages: write
      pull-requests: write
      checks: write
    with:
      image_name: debezium-alpine-connect-base
      build-args: |
        ARG OTEL_ENABLED=no
        ARG APICURIO_ENABLED=no
        ARG JOLOKIA_ENABLED=no
      dockerfile_context: connect-base/
      vault_enabled: false
      tailscale_enabled: false
      regitry_url: ghcr.io
      security_scan_output_format: sarif
      trivy_severity: "CRITICAL,HIGH,MEDIUM,LOW"

  pr-build-full:
    if: github.event_name == 'pull_request'
    uses: ZeroGachis/.github/.github/workflows/build-image.yml@v5
    permissions:
      contents: read
      security-events: write
      actions: read
      id-token: write
      packages: write
      pull-requests: write
      checks: write
    with:
      image_name: debezium-alpine-connect-base-full
      build-args: |
        ARG OTEL_ENABLED=yes
        ARG APICURIO_ENABLED=yes
        ARG JOLOKIA_ENABLED=yes
      dockerfile_context: connect-base/
      vault_enabled: false
      tailscale_enabled: false
      regitry_url: ghcr.io
      security_scan_output_format: sarif
      trivy_severity: "CRITICAL,HIGH,MEDIUM,LOW"

  build:
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    uses: ZeroGachis/.github/.github/workflows/build-push-image-to-dockerhub.yml@v5
    permissions:
      contents: read
      security-events: write
      actions: read
      id-token: write
      packages: write
      pull-requests: write
      checks: write
    with:
      dockerfile_context: connect-base/
      dockerhub_repository_name: debezium-alpine-connect-base
    secrets: inherit
