name: Create and publish a work in progress image

on:
  workflow_dispatch:
  pull_request:

jobs:
    build-image-base:
      uses: ZeroGachis/.github/.github/workflows/build-image.yml@v5
      permissions:
        contents: read
        security-events: write
        actions: read
        id-token: write
        packages: write
        pull-requests: write
        checks: write
      with:
        image_name: debezium-alpine-base
        dockerfile_context: base/
        vault_enabled: false
        tailscale_enabled: false
        regitry_url: ghcr.io
        security_scan_output_format: sarif
        trivy_severity: 'CRITICAL,HIGH,MEDIUM,LOW'

    build-image-connect-base:
      uses: ZeroGachis/.github/.github/workflows/build-image.yml@v5
      needs: build-image-base
      permissions:
        contents: read
        security-events: write
        actions: read
        id-token: write
        packages: write
        pull-requests: write
        checks: write
      with:
        image_name: debezium-alpine-connect-base
        build-args: |
          ARG OTEL_ENABLED=no
          ARG APICURIO_ENABLED=no
          ARG JOLOKIA_ENABLED=no
        dockerfile_context: connect-base/
        vault_enabled: false
        tailscale_enabled: false
        regitry_url: ghcr.io
        security_scan_output_format: sarif
        trivy_severity: 'CRITICAL,HIGH,MEDIUM,LOW'

    build-image-connect-base-full:
      uses: ZeroGachis/.github/.github/workflows/build-image.yml@v5
      needs: build-image-base
      permissions:
        contents: read
        security-events: write
        actions: read
        id-token: write
        packages: write
        pull-requests: write
        checks: write
      with:
        image_name: debezium-alpine-connect-base-full
        build-args: |
          ARG OTEL_ENABLED=yes
          ARG APICURIO_ENABLED=yes
          ARG JOLOKIA_ENABLED=yes
        dockerfile_context: connect-base/
        vault_enabled: false
        tailscale_enabled: false
        regitry_url: ghcr.io
        security_scan_output_format: sarif
        trivy_severity: 'CRITICAL,HIGH,MEDIUM,LOW'

    build-final-image:
      strategy:
        matrix:
          plugin: [postgresql-slim, snowflake-slim, mariadb-slim, jdbc-slim]
      uses: ZeroGachis/.github/.github/workflows/build-image.yml@v5
      needs: build-image-connect-base
      permissions:
        contents: read
        security-events: write
        actions: read
        id-token: write
        packages: write
        pull-requests: write
        checks: write
      with:
        image_name: debezium-${{ matrix.plugin }}
        dockerfile_context: ${{ matrix.plugin }}/
        vault_enabled: false
        tailscale_enabled: false
        regitry_url: ghcr.io
        security_scan_output_format: sarif
        trivy_severity: 'CRITICAL,HIGH,MEDIUM,LOW'
