name: "Release"

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  github-release:
    uses: ZeroGachis/.github/.github/workflows/gh-release-please.yml@v5
    permissions:
      contents: write
      pull-requests: write
    with:
      major_and_minor_tags: false
